@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.vision {
  text-align: center;
  padding-top: 3%;
  border-top: 1px solid black;
  padding-left: 5%;
  padding-right: 5%;
}

.vision__head {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-bottom: 3%;
  font-weight: 700;
  font-size: 3rem;
}

.vision__subText {
  text-align: center;
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
  line-height: 2.5;
  padding-bottom: 5%;
}
